interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sdfproxy.sdf.slac.stanford.edu:3128/segwarides/
  response:
    body:
      string: '{"_metadata": {"name": "segwarides", "version": "0.4.2", "description":
        "A simple app to serve credentials to other services.", "repository_url":
        "https://github.com/lsst-sqre/segwarides", "documentation_url": "https://github.com/lsst-sqre/segwarides"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sdfproxy.sdf.slac.stanford.edu:3128/segwarides/creds/usdf_efd
  response:
    body:
      string: '{"host": "usdf-rsp.slac.stanford.edu", "username": "efdreader", "password":
        "cD32sDoymy69EWAmD5nsSA==", "schema_registry": "http://sasquatch-schema-registry.sasquatch:8081",
        "port": "443", "path": "/influxdb/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sdfproxy.sdf.slac.stanford.edu:3128/influxdb/health
  response:
    body:
      string: '{"checks":[],"message":"ready for queries and writes","name":"influxdb","status":"pass","version":"1.8.10"}'
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - OSS
      X-Influxdb-Version:
      - 1.8.10
    status:
      code: 200
      message: OK
[...]
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SHOW MEASUREMENTS
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"measurements","columns":["name"],"values":[["l.MTM1M3.command_forceActuatorBumpTest"],["l.MTM1M3.logevent_forceActuatorBumpTestStatus"],["l.MTM1M3.logevent_hardpointTestStatus"],["l.Test.logevent_heartbeat"],["lsst.sal.ATAOS.ackcmd"],["lsst.sal.ATAOS.command_disable"],["lsst.sal.ATAOS.command_disableCorrection"],["lsst.sal.ATAOS.command_enable"],["lsst.sal.ATAOS.command_enableCorrection"],["lsst.sal.ATAOS.command_exitControl"],["lsst.sal.ATAOS.command_offset"],["lsst.sal.ATAOS.command_resetOffset"],["lsst.sal.ATAOS.command_standby"],["l[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb/health
  response:
    body:
      string: '{"checks":[],"message":"ready for queries and writes","name":"influxdb","status":"pass","version":"1.8.10"}'
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - OSS
      X-Influxdb-Version:
      - 1.8.10
    status:
      code: 200
      message: OK
[...]
