interactions:
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SHOW MEASUREMENTS
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"measurements","columns":["name"],"values":[["l.MTM1M3.command_forceActuatorBumpTest"],["l.MTM1M3.command_killForceActuatorBumpTest"],["l.MTM1M3.logevent_forceActuatorBumpTestStatus"],["l.MTM1M3.logevent_hardpointTestStatus"],["l.MTM2.command_actuatorBumpTest"],["l.Test.ackcmd"],["l.Test.command_disable"],["l.Test.command_enable"],["l.Test.command_exitControl"],["l.Test.command_standby"],["l.Test.command_start"],["l.Test.logevent_authList"],["l.Test.logevent_configurationApplied"],["l.Test.logevent_configurationsAvailable"],["l.Test.loge[...]
[...]
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SELECT * FROM "efd"."autogen"."lsst.sal.Script.logevent_state" WHERE time
        >= '2023-06-15T12:00:00.000Z' AND time <= '2023-06-16T12:00:00.000Z'
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"lsst.sal.Script.logevent_state","columns":["time","groupId","lastCheckpoint","numCheckpoints","private_efdStamp","private_identity","private_kafkaStamp","private_origin","private_rcvStamp","private_revCode","private_seqNum","private_sndStamp","reason","salIndex","state"],"values":[[1686841370245643000,"","",0,1686841370.2456431,"Script:200000",1686841407.2482557,6334,1686841407.2457576,"ac74a3e5",1,1686841407.2456431,"",200000,1],[1686841370274279000,"","",0,1686841370.2742789,"Script:200000",1686841407.2756295,6334,1686841407.2743459,"ac74a3e5",2,1686841407.2742789,"",200000,2],[1686841370277339000,"2023-06-15T15:03:27.276","",0,1686841370.2773395,"Script:200000",1686841407.280127,6334,1686841407.277408,"ac74a3e5",3,1686841407.2773395,"",200000,2],[1686841370279514000,"2023-06-15T15:03:27.276","",0,1686841370.2795146,"Script:200000",1686841407.286034,6334,1686841407.2795804,"ac74a3e5",4,1686841407.2795146,"",200000,3],[1686841370279648000,"2023-06-15T15:03:27.276","set
        GIS:0",1,1686841370.2796485,"Script:200000",1686841407.2901447,6334,1686841407.2796993,"ac74a3e5",5,1686841407.2796485,"",200000,3],[1686841370283752000,"2023-06-15T15:03:27.276","set
        GIS:0",1,1686841370.2837527,"Script:200000",1686841407.292705,6334,1686841407.2838218,"ac74a3e5",6,1686841407.2837527,"Error
        in run: Error on cmd=cmd_start, initial_state=5: msg=''Command failed'', ackcmd=(ackcmd
        private_seqNum=2143899703, ack=\u003cSalRetCode.CMD_FAILED: -302\u003e, error=1,
  [...]
[...]
