interactions:
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SHOW MEASUREMENTS
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"measurements","columns":["name"],"values":[["l.MTM1M3.command_forceActuatorBumpTest"],["l.MTM1M3.logevent_forceActuatorBumpTestStatus"],["l.MTM1M3.logevent_hardpointTestStatus"],["l.Test.logevent_heartbeat"],["lsst.sal.ATAOS.ackcmd"],["lsst.sal.ATAOS.command_disable"],["lsst.sal.ATAOS.command_disableCorrection"],["lsst.sal.ATAOS.command_enable"],["lsst.sal.ATAOS.command_enableCorrection"],["lsst.sal.ATAOS.command_exitControl"],["lsst.sal.ATAOS.command_offset"],["lsst.sal.ATAOS.command_resetOffset"],["lsst.sal.ATAOS.command_standby"],["l[...]
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SELECT * FROM "efd"."autogen"."lsst.sal.MTM1M3.logevent_forceActuatorState"
        WHERE time >= '2023-06-27T05:49:14.737Z' AND time <= '2023-06-27T06:04:14.737Z'
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb/query
  response:
    body:
      string: '{"results":[{"statement_id":0}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - OSS
      X-Influxdb-Version:
      - 1.8.10
    status:
      code: 200
      message: OK
    url: https://usdf-rsp.slac.stanford.edu:443/influxdb/query
[...]
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SHOW MEASUREMENTS
    headers: {}
    method: POST
    uri: https://summit-lsp.lsst.codes:443/influxdb/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"measurements","columns":["name"],"values":[["l.MTM1M3.command_forceActuatorBumpTest"],["l.MTM1M3.command_killForceActuatorBumpTest"],["l.MTM1M3.logevent_forceActuatorBumpTestStatus"],["l.MTM1M3.logevent_hardpointTestStatus[...]
[...]
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SHOW MEASUREMENTS
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"measurements","columns":["name"],"values":[["l.MTM1M3.command_forceActuatorBumpTest"],["l.MTM1M3.command_killForceActuatorBumpTest"],["l.MTM1M3.logevent_forceActuatorBumpTestStatus"],["l.MTM1M3.logeven[...]
[...]
