interactions:
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SHOW MEASUREMENTS
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"measurements","columns":["name"],"values":[["l.MTM1M3.command_forceActuatorBumpTest"],["l.MTM1M3.command_killForceActuatorBumpTest"],["l.MTM1M3.logevent_forceActuatorBumpTestStatus"],["l.MTM1M3.logevent_hardpointTestStatus"],["l.MTM2.command_actuatorBumpTest"],["l.Test.ackcmd"],["l.Test.command_disable"],["l.Test.command_enable"],["l.Test.command_exitControl"],["l.Test.command_standby"],["l.Test.command_start"],["l.Test.logevent_authList"],["l.Test.logevent_configurationApplied"],["l.Test.logevent_configurationsAvailable"],["l.Test.loge[...]
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SELECT * FROM "efd"."autogen"."lsst.sal.MTMount.logevent_azimuthMotionState"
        WHERE time >= '1950-01-01T12:00:00.000Z' AND time <= '1950-01-02T12:00:00.000Z'
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu:443/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0}]}

        '
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.11.3
    status:
      code: 200
      message: OK
[...]
