interactions:
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SHOW MEASUREMENTS
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results":[{"statement_id":0,"series":[{"name":"measurements","columns":["name"],"values":[["lsst.sal.ATAOS.ackcmd"],["lsst.sal.ATAOS.command_applyAxisOffset"],["lsst.sal.ATAOS.command_applyFocusOffset"],["lsst.sal.ATAOS.command_disable"],["lsst.sal.ATAOS.command_disableCorrection"],["lsst.sal.ATAOS.command_enable"],["lsst.sal.ATAOS.command_enableCorrection"],["lsst.sal.ATAOS.command_enterControl"],["lsst.sal.ATAOS.command_exitControl"],["lsst.sal.ATAOS.command_offset"],["lsst.sal.ATAOS.command_resetOffset"],["lsst.sal.ATAOS.command_setCorrectionModelOffsets"],["lsst.sal.ATAOS.comman[...]
[...]
